.bg {
  background-color: #000000;
}
.intro {
  margin-top: 5%;
  display: flex;
  background-color: #272727;
  padding: 2%;
  border-radius: 10px;
}
.skill-image {
  width: 150px;
  height: 120px;
  margin: auto;
}
.skillsArrangement {
  display: flex;
  flex-wrap: wrap;
}
.fav {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 2%;
}
.logo {
  width: 100%;
}
