.eachJob {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
}
.link {
  text-decoration: none !important;
}
.title {
  display: flex;
}
.sub-alignment {
  display: flex;
  justify-content: space-between;
}
hr {
  background-color: #ffffff;
  width: 100%;
}
.websiteLogo {
  width: 70%;
}
.rating {
  font-size: 15px;
}
.heading {
  font-size: 25px;
  color: #ffffff !important;
}

.star-job-rating-container {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.rating-text {
  color: #ffffff;
  font-weight: bold;
  margin-top: 0;
  margin-left: 5px;
}
