.profile-image {
  width: 25%;
}

.filter-section {
  height: 90vh;
  width: 30%;
  left: 0;
  position: fixed;
  padding: 2%;
  overflow-y: visible;
}
.JobsList {
  margin-left: auto;
  width: 65%;
}
.search-failure-view {
  margin-left: auto;
  width: 50%;
  text-align: center;
}
.alignment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2%;
  z-index: 2;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .alignment-container {
    flex-direction: column;
  }
  .filter-section {
    overflow-y: none;
    left: none;
    height: auto;
    width: 100%;
    position: relative;
    margin-top: 5%;
  }
  .JobsList {
    width: 100%;
  }
}

ul {
  list-style-type: none;
}

.bg-main {
  background-color: #000000;
  padding-top: 5%;
}
.heading {
  color: #4f46e5;
}
.para {
  color: #2c364c;
}
.button {
  width: 40%;
}
