.alignment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2%;
  margin-top: 5%;
}
ul {
  list-style-type: none;
}
.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  color: #6366f1;
  width: 90%;
  padding: 10%;
  border-radius: 25px;
}
.profile-image {
  width: 50%;
}

.bg-main {
  background-color: #000000;
}

.filter-section {
  left: 0;
}
.description-section {
  width: 60%;
}
