.bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  justify-content: center;
  align-items: flex-start;
  padding: 5%;
}
.heading {
  font-size: 45px;
  font-weight: bolder;
  width: 50%;
}
.para {
  font-size: 25px;
  font-weight: 300;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }

  .para {
    width: 100%;
  }
}

.find-jobs-button {
  background-color: #6366f1;
  padding: 0.5%;
  border-radius: 5px;
}
.back {
  background-color: transparent;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
}
